.filter-container {
    position: absolute;
    z-index: 1;
    top: 4em;
    right: 1em;
    background-color: white;
    width: 220px;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 9px;
    font-weight: 300
}

.filter-container>h3 {
    margin: 1em 0;
}

.filter-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBDCE1;
}

.filter-container__close-btn {
    margin: 0.10em 0.25em;
    padding: 0.10em 0.25em;
}

.filter-categorie {
    margin: 0.3em 0;
    display: flex;
    align-items: center;
}

.filter-categorie:hover {
    border-bottom: 0.8px solid #006FFF;
}

.filter-categorie__input {
    margin-right: 0.7em;
}

.clear-filter-btn {
    background: none;
    border: none;
    font: inherit;
    margin-top: 0.8em;
}

.clear-filter-btn:hover {
    border-bottom: 0.8px solid #006FFF;
}