.app-header {
    background-color: #F6F6F8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1.5px solid #EDEDF0;
}

.app-header__info {
    display: flex;
    align-items: center;
}

.app-header__info>h4 {
    font-weight: 300;
    margin: 0 0 0 0.5em;
}

.app-header__author {
    margin: 0 1.5em 0 0;
}

.app-header__author>h4 {
    font-weight: 300;
}