.product-img {
    grid-area: product-img;
    justify-self: end;
    margin-right: 2em;
}

.product-line {
    grid-area: product-line;
    font-weight: 300;
}

.product-name {
    grid-area: product-name;
    font-weight: 300;
}

.product--list-view {
    width: 100%;
    display: grid;
    grid-template-columns: 12% 20% 68%;
    grid-template-rows: auto;
    grid-template-areas:
        "product-img product-line product-name";
    margin: 0.3em 0;
    padding-top: 0.15em;
    border-bottom: 1px solid #EDEDF0;
    align-items: center;
}

.product--list-view:hover {
    border-bottom: 0.8px solid #006FFF;
    cursor: pointer;
}