.products-container--list {
    background-color: antiquewhite;
    margin: 1em auto;
    width: 1262px;
}

.products-container__headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}